.error-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #B00020;
    margin: 10px 0;
    // float: right;
}
form{
    margin-top: 100px;
}
.button-solid{
    background: #0A1D7F !important;
    max-width: 90% !important;
    margin: 5% !important;
}