<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addContact()" method="POST">
    
    <ion-item>
      <ion-label position="stacked">Contacts(add trustee emails seperated by comma)</ion-label>
      <ion-input required type="text" [(ngModel)]="stringContacts" name="email"></ion-input>
    </ion-item>
    
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Add contact</ion-button>
    </div>
  </form>
</ion-content>
