<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Full Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Phone<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="tel" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>
      
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>