<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome 
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Report A Crime</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="space-up"></p>
  <ion-button expand="block" style="margin-top: 100px;" type="submit" (click)="captureImage()" fill="outline">Image</ion-button>
  <ion-button expand="block" (click)="recordAudio()" fill="outline"> <ion-icon name="mic-off"></ion-icon> Audio</ion-button>
  <ion-button expand="block" (click)="recordVideo()" fill="outline"> <ion-icon name="play-circle"></ion-icon> Video</ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title>Your Audio/Video sends instantly.</ion-title>
    </ion-toolbar>
  </ion-footer>