<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hey, {{fullname}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Report A Crime</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Your Audio/Video sends instantly.</ion-title>
  </ion-toolbar>
</ion-footer> -->

<ion-content>
  <!--create a element for map. #Map - identifier -->
  <!-- <p class="space-up"></p> -->
    <ion-button expand="block" style="top: 100px;" type="submit" (click)="captureImage()" fill="outline">Send Image To Contact</ion-button>
    <ion-button expand="block" (click)="recordAudio()" style="top: 170px;" fill="outline"> <ion-icon name="mic-off"></ion-icon> Send Audio To Contact</ion-button>
    <ion-button expand="block" (click)="recordVideo()" style="top: 240px;" fill="outline"> <ion-icon name="play-circle"></ion-icon> Send Video To Contact</ion-button>
  <div #Map class="map">
  </div>
</ion-content>